img[src*="small"]{ content: url("https://web.archive.org/web/20210919212945im_/https://tadah.rocks/images/tadaht.png"); }

img[src*="small"] {
    width: 25px;
    height: 25px;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #000;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: #6c757d!important;
}

.navbar {
    background-color: #ffffff!important;
}

.navbar-dark .navbar-text {
    color: #6c757d!important;
}

img[src*="dahllor_white"]{ content: url("https://wawah.rocks/images/currency.png"); }

.navbar-second {
    display: none;
}

.mr-1, .mx-1 {
    display: none;
    width: 0;
    height: 0;
}

.btn-outline-primary {
    border-color: #3490dc;
    color: #3490dc;
}

.footer-dark {
    background-color: #f8fafc;
}

.text-light {
    color: #000000!important;
}

.bg-primary {
    background-color: #20d46b!important;
}