.btn-primary {
    color: #fff;
    background-color: #158cba;
    border-color: #158cba;
}

.btn-danger {
    background-color: #ac0900;
    border-color: #ac0900;
    color: #e8e6de;
    font-weight: bold;
}

body {
    background-color: #17191a;
    color: #212529;
    font-family: Source Sans Pro,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

.card-header {
    background-color: #212529;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #212529;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
}

.card-header {
    background-color: #181a1b;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #c7cfc9;
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid #34393b;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.nav-tabs .nav-link {
    border: 1px solid #34393b;
    color: #c7cfc9;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -1px;
}

a {
    background-color: transparent;
    color: #42c0de;
    text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #181a1b;
    border-color: #34393b #34393b #34393b;
    position: relative;
    bottom: 4px;
    color: #c7cfc9;
}

.border-bottom {
    border-bottom: 1px solid #17191a!important;
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #17191a;
    border: 1px solid #34393b;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.btn-success {
    color: #fff;
    background-color: #28b62c;
    border-color: #28b62c;
}

.alert-danger {
    background-color: #ff4136;
    border-color: #ff4136;
    color: #fbd8d8;
}

.badge-success {
    background-color: #56da5a;
    color: #fff;
}

.navbar-second {
    background-color: #17191a!important;
    display: none;
}

.navbar {
    background-color: #17191a!important;
}

.footer-dark {
    background-color: #17191a;
}

img[src*="dahllor_white"]{ content: url("https://wawah.rocks/images/currency.png"); }

.page-link {
    background-color: #17191a;
    border: 1px solid #34393b;
    color: #1776b9;
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.page-item.active .page-link {
    background-color: #161766;
    border-color: #161766;
    color: #b2aca2;
    z-index: 3;
}

.page-item.disabled .page-link {
    background-color: #17191a;
    border-color: #34393b;
    color: #1744aa;
    cursor: auto;
    pointer-events: none;
}

.alert-success {
    background-color: #28b62c;
    border-color: #28b62c;
    color: #d2f6e1;
}

.btn {
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 0 1px 4px 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success, .btn-success:not(.disabled):hover, .btn-success:not(.disabled):active, .btn-success:focus {
    border-color: #24a428;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.bs-component>.btn, .bs-component>.btn-toolbar>.btn-group, .bs-component>.btn-group, #home .section-preview .card .btn-group {
    margin-bottom: 0.25rem;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.dropdown-menu {
    background-clip: padding-box;
    background-color: #17191a;
    border: 1px solid rgb(52 57 59);
    border-radius: 0.25rem;
    color: #ffffff;
    display: none;
    float: left;
    font-size: .9rem;
    left: 0;
    list-style: none;
    margin: 0.125rem 0 0;
    min-width: 10rem;
    padding: 0.5rem 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.dropdown-item {
    background-color: transparent;
    border: 0;
    clear: both;
    color: #ffffff;
    display: block;
    font-weight: 400;
    padding: 0.25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 0.2rem;
    font-size: .7875rem;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #137ea7;
    color: #fff;
}

